aside {
    display: block;
    text-align: center;
    background-color: #222222;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
}

#config_content{
    padding: 40px;
}

#config_title{
    font-size: 2.2em;
    font-weight: bold;
}

#config_form{}
