<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/main_configure.css">
    <title>BISIB v0.1</title>
</head>
<body>
<aside>
    <section id="config_title">
        Configure BISIB
    </section>
</aside>
<section id="config_content">
    <section id="config_text">
        <p>
            BISIB Is a SImple Blogware. <br/>
            Welcome to the configuration module of BISIB
        </p>
    </section>
    <section id="config_form">
        <form action="." method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{ configure_form.as_table }}
            </table>
            <button>Save and continue</button>
        </form>
    </section>
</section>
</body>
</html>
