<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        {% if post.title %}
            {{ post.title }}
        {% else %}
            {% if blog_config.name %}
                {{ blog_config.name }}
            {% else %}
                BISIB Is a SImple  Blogware
            {% endif %}
        {% endif %}
    </title>
    <meta name="description" content="{{ blog_config.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/animate.css">
</head>

<body>
<!--[if lt IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<aside>
    <figure class="animated bounceIn">
        <a href="/"><img src="{{ MEDIA_URL }}{{ blog_config.logo }}"
                         alt="{{ blog_config.name }}"/></a>
    </figure>
    <div>
        <p><strong>{{ blog_config.name }}</strong></p>
    </div>
</aside>

<section id="main">
    {% block body %}{% endblock %}
</section>

<script type="text/javascript">
    var disqus_shortname = 'carlosjoel';
    (function () {
        var s = document.createElement('script');
        s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
</body>
</html>
