{% extends 'base.html' %}
{% block body %}

    <article>
        {% for post in posts %}
            <section class="animated fadeInUp">
            <span class="post_title">
                <a href="/post/{{ post.post_date.year }}/{{ post.post_date.month }}/{{ post.title_url }}/">{{ post.title }}</a>
            </span>
                <br/>
                <span class="post_date">{{ post.post_date }}</span>

                <p>
                    {{ post.content|safe|truncatewords_html:200 }}
                </p>
            </section>
            <br/>
        {% endfor %}
    </article>
{% endblock %}
