{% extends 'base.html' %}
{% block body %}
    <article class="animated fadeInUp">
        <section id="post-content">
            <h1 class="post_title">{{ post.title }}</h1>

            <h2 class="post_date">{{ post.post_date }}</h2>

            <p>
                {{ post.content|safe }}
            </p>
        </section>
        <hr width="50%"/>
        <br/>
        <section id="post-comments">
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                var disqus_shortname = 'carlosjoel';
                (function () {
                    var dsq = document.createElement('script');
                    dsq.type = 'text/javascript';
                    dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a
                    href="http://disqus.com/?ref_noscript">comments powered by
                Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by
                <span class="logo-disqus">Disqus</span></a>

        </section>
    </article>
{% endblock %}
